.activate-account-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(#fe8c00c4, #f83600c6);
}

.activate-account-button {
	width: 100%;
}

.activate-account-message {
	margin-top: 30px;
	font-size: 50px;
	font-weight: 700;
}
